[Unit]
Description=Run Test Process Monitor every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1us

[Install]
WantedBy=timers.target
